﻿@model List<Onlinico.MiPoint.Web.Api.Models.Web.LogModel>

@{
    Layout = null;
}

@if (Model != null && Model.Any())
{
    foreach (var sessionLog in Model)
    {
        <tr id="@sessionLog.Id.ToString()">
            <td>
                <div class="table-six-col-content hideOverflow">
                    @sessionLog.Created
                </div>
            </td>
            <td>
                <div class="table-six-col-content hideOverflow">
                    @sessionLog.LocationId
                </div>
            </td>
            <td>
                <div class="table-six-col-content hideOverflow">
                    @sessionLog.AppVersion
                </div>
            </td>
            <td>
                <div class="table-six-col-content hideOverflow">
                    @sessionLog.Model
                </div>
            </td>
            <td class="start-datetime-col">
                <div class="table-six-col-content hideOverflow">
                    @sessionLog.Manufacturer
                </div>
            </td>
            <td>
                <div class="table-six-col-content hideOverflow">
                    @sessionLog.Serial
                </div>
            </td>
        </tr>
    }
}
