﻿@model Onlinico.MiPoint.Web.Api.Models.Web.LogModel
@{
    Layout = null;
}
@if (Model != null)
{
    <tr id="@Model.Id.ToString()">
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.Created
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.LocationId
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.AppVersion
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.Model
            </div>
        </td>
        <td class="start-datetime-col">
            <div class="table-six-col-content hideOverflow">
                @Model.Manufacturer
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.Serial
            </div>
        </td>
    </tr>
}