﻿@model Onlinico.MiPoint.Web.Api.Models.Web.LogModel


<div class="form-horizontal">
    <h4>Log</h4>
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.Label("Secret", htmlAttributes: new { @class = "control-label col-md-2" })
        @*@Html.LabelFor(model => model.LocationId, htmlAttributes: new {@class = "control-label col-md-2"})*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.LocationId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Manufacturer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Manufacturer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Manufacturer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fingerprint, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fingerprint, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fingerprint, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Serial, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Serial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Serial, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>
<style>
    input {
        width: 100%;
        max-width: 800px;
        height: 48px !important;
    }


    textarea {
        width: 100%;
        max-width: 800px;
        height: 350px;
        padding: 15px 25px;
        margin: 6px 0px 15px 0px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 400;
        font-size: 15px;
        /*color: #9D9E9E;*/
        text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
        background: #FFF;
        border: 1px solid #FFF;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    }

        textarea:focus {
            background: #FFFFF8;
            color: #414848;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
            outline: 0;
        }

        textarea:hover {
            background: #FFFFF8;
            color: #414848;
        }
</style>