﻿@model Onlinico.MiPoint.Web.Api.Models.Web.MerchantModel
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="modal-dialog" style="width: 650px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Merchant</h4>
            </div>

            @using (Ajax.BeginForm("EditMerchant", "Merchant", new AjaxOptions { HttpMethod = "POST", OnSuccess = "AddMerchantSuccess", OnBegin = "AddMerchantBegin", OnFailure = "AddMerchantFailre", OnComplete = "AddMerchantComplete" }, new { id = "merchant-form" }))
            {
                <div class="modal-body">
                    <div>
                        <div>
                            <input name="model.Id" value="@Model.Id" type="hidden" />

                            <input name="model.Name" value="@Model.Name" required type="text" class="inputs modal-dialog-input" maxlength="250" placeholder="Name" />

                            <input name="model.Email" value="@Model.Email" required type="email" pattern="[a-z0-9._%+-]+@("@")[a-z0-9.-]+\.[a-z]{2,63}$" title="Invalid email format." maxlength="250" class="inputs modal-dialog-input" placeholder="Email address" />

                            <input name="model.PhoneNumber" value="@Model.PhoneNumber" type="tel" pattern="(\+?\d[- .]*){7,13}" title="International, national or local telephone number" class="inputs modal-dialog-input" placeholder="Phone number" />

                            <input name="model.Country" value="@Model.Country" type="text" pattern="[A-Za-z\s]+" title="Only letters" maxlength="250" class="inputs modal-dialog-input" placeholder="Country" />

                            <input name="model.Zip" value="@Model.Zip" type="number" max="99999" min="0" class="inputs modal-dialog-input" placeholder="Zip code" />

                            <input name="model.State" value="@Model.State" pattern="[A-Za-z\s]+" title="Only letters" type="text" maxlength="250" class="inputs modal-dialog-input" placeholder="State" />

                            <input name="model.City" value="@Model.City" type="text" pattern="[A-Za-z\s]+" title="Only letters" maxlength="250" class="inputs modal-dialog-input" placeholder="City" />

                            <input name="model.Address" value="@Model.Address" type="text" maxlength="250" class="inputs modal-dialog-input" placeholder="Address" />

                            <input name="model.WebSite" value="@Model.WebSite" type="text" maxlength="250" class="inputs modal-dialog-input" placeholder="Website" />

                            <input name="model.LogoUrl" value="@Model.LogoUrl" type="text" maxlength="250" class="inputs modal-dialog-input" placeholder="Logo Url" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-default button save-button" type="submit" value="Save" />
                    <button type="button" class="btn btn-default button back-button" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $("#merchant-form").attr("action", $("#merchant-form").attr("action") + "&timeOffset=" + new Date().getTimezoneOffset());
        });

        function AddMerchantBegin() {
            window.ShowOwerlay();
        }

        function AddMerchantSuccess(result) {

            /*remove old row*/
            table.row($('#' + '@Model.Id')).remove().draw();

            /*add new row*/
            var rowDraw = table.row.add($(result)[0]).draw();
            rowDraw.show().draw(false);
            var rowNode = rowDraw.node();
            var row = $(rowNode);
            row.addClass('active').siblings().removeClass('active');
            row.click(function () {
                $(this).addClass('active').siblings().removeClass('active');
            });

            /*hide model*/
            $('#merchant-info-form-container').modal('hide');

            $("#merchantName, #omnivoreApiKey").val("");
            window.Notify('<strong>Success.</strong>', "Update merrchant.", 'success');
        }

        function AddMerchantFailre(result) {
            window.Notify('<strong>Error.</strong>', result.statusText, 'danger');
        }

        function AddMerchantComplete(result) {
            window.HideOwerlay();
        }
    </script>
}
else
{
    <header style="margin: 15px">
        <h3 style="color: #2c3e50;">Some error happened, please try later</h3>
    </header>
}
<style>
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>