﻿
<div>
    <header class="header">
        <h3>Merchants</h3>
        @if (ViewBag.IsAdmin ?? false)
        {
            <div style="float: right">
                <a onclick="ShowMerchantFormm()" class="action-btn action-btn-add" title="Add merchant"></a>
            </div>
        }
    </header>
    <div style="margin: 10px;">
        <div>
            @{ Html.RenderAction("Merchants", "Merchant"); }
        </div>
    </div>

    <div class="container">
        <div id="merchant-info-form-container" class="modal fade" role="dialog">

        </div>
    </div>

</div>

@section scripts {
    <script>

        function ShowMerchantFormm() {
            window.ShowOwerlay();
            var formContainer = $('#merchant-info-form-container');
            formContainer.load('@Url.Action("MerchantForm", "Merchant")');
            formContainer.modal('show');
            window.HideOwerlay();
        }
        
    </script>
}
