﻿@model Onlinico.MiPoint.Web.Api.Models.Web.MerchantModel
@{
    Layout = null;
}

@if (Model != null)
{
    <tr id="@Model.Id">
        <td>
            <div>
                <a onclick="EditMerchant('@Model.Id')" class="table-icon edit-merchant-icon" title="Edit Merchant"></a>
                <a onclick="GoToMerchantLocations('@Model.Id')" class="table-icon markers-merchant-icon" title="Merchant locations"></a>
                <a onclick="MerchantUsers('@Model.Id')" class="table-icon merchant-users-icon" title="Merchant users"></a>
                @if (ViewBag.IsAdmin ?? true)
                {
                    <a onclick="RemoveMerchantConfirm('@Model.Id')" class="table-icon remove-merchant-icon" title="Remove Merchant"></a>
                }
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow" style="max-width: 250px;">
                @Model.Name
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow" style="max-width: 150px;">
                @Model.Created
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow" style="max-width: 130px;">
                @Model.Country
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow" style="max-width: 130px;">
                @Model.City
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow" style="max-width: 130px;">
                @Model.Address
            </div>
        </td>
    </tr>
}