﻿@{
    Layout = null;
}

<link href="~/Content/css/views/merchant/merchants.css" rel="stylesheet" />

<div style="margin-top: 30px;">
    <div id="container-merchants">
        <div class="container">
            <table id="table-merchants" class="table table-striped table-hover table-miPoint">
                <thead>
                <tr>
                    <th style="min-width: 100px;" class="no-sort"></th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody id="tbody-merchants"></tbody>
            </table>
        </div>
    </div>

    <div id="container-empty-merchants" class="center empty">
        <H4>Merchants empty.</H4>
    </div>

</div>

<script type="text/javascript">
    var table;

    $(function () {
        table = $('#table-merchants').DataTable({
            "pageLength": 10,
            "order": [[1, "asc"]],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }],
            "fnDrawCallback": function (oSettings) {
                var paginationButtons = $('.paginate_button');
                if (paginationButtons.length > 3) {
                    paginationButtons.show();
                } else {
                    paginationButtons.hide();
                }
            }
        });

        window.ShowOwerlay();
        $.get('@Url.Action("MerchantRows")' + '?random=' + window.getRandomInt(0, 99999), function (result) {

            table.rows.add($(result).filter("tr")).draw();

            CheckEmpty();
        }).done(function () {

        }).fail(function () {
            window.Notify('<strong>Error.</strong>', "Can't download merchants. Please try again later.", 'danger');
        }).always(function () {
            //"finished"
            window.HideOwerlay();
        });

        $('#table-merchants > tbody > tr').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        });

        window.bootstrapModalBindBackbutton($('#merchant-info-form-container'));
    });

    function EditMerchant(merchantId) {
        window.ShowOwerlay();
        var formContainer = $('#merchant-info-form-container');
        formContainer.load('@Url.Action("EditMerchant", "Merchant")' + '?merchantId=' + encodeURIComponent(merchantId));
        formContainer.modal('show');
        window.HideOwerlay();
    }

    function GoToMerchantLocations(merchantId) {
        window.ShowOwerlay();
        window.location.href = '@Url.Action("Index", "Location")' + '?merchantId=' + merchantId;
    }

    function MerchantUsers(merchantId) {
        var formContainer = $('#merchant-info-form-container');
        formContainer.load('@Url.Action("Users", "Merchant")' + '?merchantId=' + encodeURIComponent(merchantId));
        formContainer.modal('show');
    }

    function RemoveMerchantConfirm(merchantId) {
        if (confirm("Are you sure want to remove merchant?")) {
            RemoveMerchant(merchantId);
        }
    }

    function RemoveMerchant(merchantId) {
        window.ShowOwerlay();
        $.ajax({
            url: "/Merchant/RemoveMerchant?id=" + encodeURIComponent(merchantId),
            type: 'DELETE',
            success: function (result) {
                if (result) {
                    table.row($('#' + merchantId)).remove().draw(false);
                    CheckEmpty();
                    window.Notify('<strong>Success.</strong>', 'Merchant remove success.', 'success');
                } else {
                    window.Notify('<strong>Error.</strong>', "can't remove Merchant.", 'danger');
                }
            },
            complete: function () {
                window.HideOwerlay();
            }
        });

    }

    function CheckEmpty() {
        if (table.data().count() > 0) {
            document.getElementById("container-merchants").style.display = "block";
            document.getElementById("container-empty-merchants").style.display = "none";
        } else {
            document.getElementById("container-merchants").style.display = "none";
            document.getElementById("container-empty-merchants").style.display = "block";
        }
    }
</script>
