﻿@model Onlinico.MiPoint.Web.Api.Models.Web.MerchantModel
@{
    Layout = null;
}

@if (Model != null)
{
    <div class="modal-dialog" style="width: 650px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Merchant</h4>
            </div>

            @using (Ajax.BeginForm("MerchantForm", "Merchant", new AjaxOptions { OnSuccess = "AddMerchantSuccess", OnBegin = "AddMerchantBegin", OnFailure = "AddMerchantFailre", OnComplete = "AddMerchantComplete" }, new { id = "merchant-form" }))
            {
                <div class="modal-body">
                    <div>
                        <div>

                            <input name="model.Name" required type="text" class="inputs modal-dialog-input" maxlength="250" placeholder="Name" />

                            <input name="model.Email" required type="email" pattern="[a-z0-9._%+-]+@("@")[a-z0-9.-]+\.[a-z]{2,63}$" title="Invalid email format." maxlength="250" class="inputs modal-dialog-input" placeholder="Email address" />

                            <input name="model.PhoneNumber" type="tel" pattern="(\+?\d[- .]*){7,13}" title="International, national or local telephone number" class="inputs modal-dialog-input" placeholder="Phone number" />

                            <input name="model.Country" type="text" maxlength="250" pattern="[A-Za-z\s]+" title="Only letters" class="inputs modal-dialog-input" placeholder="Country" />

                            <input name="model.Zip" type="number" max="99999" min="0" class="inputs modal-dialog-input" placeholder="Zip code" />

                            <input name="model.State" type="text" maxlength="250" pattern="[A-Za-z\s]+" title="Only letters" class="inputs modal-dialog-input" placeholder="State" />

                            <input name="model.City" type="text" maxlength="250" pattern="[A-Za-z\s]+" title="Only letters" class="inputs modal-dialog-input" placeholder="City" />

                            <input name="model.Address" type="text" maxlength="250" class="inputs modal-dialog-input" placeholder="Address"/>

                            <input name="model.WebSite" type="text" maxlength="250" class="inputs modal-dialog-input" placeholder="Website"/>

                            <input name="model.LogoUrl" type="text" maxlength="250" class="inputs modal-dialog-input" placeholder="Logo Url" />
                        </div>
                        <div>
                            <select id="location-multiselect" name="model.Identifiers" multiple="multiple">
                                @if (Model != null && Model.SelectedLocations.Any())
                                {
                                    for (var i = 0; i < Model.SelectedLocations.Count; i++)
                                    {
                                        <option name="model.Identifiers[@i]" value="@Model.SelectedLocations[i].Item.Identifier" @(Model.SelectedLocations[i].Selected ? "selected" : "")>@Model.SelectedLocations[i].Item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-default button save-button" type="submit" value="Add" />
                    <button type="button" class="btn btn-default button back-button" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#location-multiselect').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true
            });

            $("#merchant-form").attr("action", $("#merchant-form").attr("action") + "&timeOffset=" + new Date().getTimezoneOffset());
        });

        function AddMerchantBegin() {
            $(".add-button").attr('disabled', 'disabled');
            window.ShowOwerlay();
        }

        function AddMerchantSuccess(result) {
            /*add new row*/
            var rowDraw = table.row.add($(result)[0]).draw();
            rowDraw.show().draw(false);
            var rowNode = rowDraw.node();
            var row = $(rowNode);
            row.addClass('active').siblings().removeClass('active');
            row.click(function () {
                $(this).addClass('active').siblings().removeClass('active');
            });

            /*hide model*/
            $('#merchant-info-form-container').modal('hide');

            $("#merchantName, #omnivoreApiKey").val("");
            window.Notify('<strong>Success.</strong>', "Add merrchant.", 'success');

            window.Notify('<strong>Important.</strong>', "Now for work, you need configure your location settings. Follow in this Merchant locations, and then click settings", 'warning', 10000);
        }

        function AddMerchantFailre(result) {
            window.Notify('<strong>Error.</strong>', result.statusText, 'danger');
        }

        function AddMerchantComplete(result) {
            $(".add-button").removeAttr('disabled');
            window.HideOwerlay();
            window.CheckEmpty();
        }
    </script>
}
else
{
    <header style="margin: 15px">
        <h3 style="color: #2c3e50;">Some error happened, please try later</h3>
    </header>
}
<style>
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>