﻿@model List<Onlinico.MiPoint.Web.Api.Models.Web.UserModel>
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="modal-dialog" style="width: 650px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Merchant Users</h4>
            </div>

            <div class="modal-body">
                <div>
                    <div>
                        @using (Ajax.BeginForm("InviteUser", "Invite", new AjaxOptions { OnBegin = "InviteBegin", OnSuccess = "InviteSuccess", OnFailure = "InviteFailre", OnComplete = "InviteComplete" }))
                        {
                            <input id="current-merchant-id" type="hidden" name="model.MerchantId" value="@ViewBag.MerchantId" />
                            <div>
                                <div>
                                    <div>
                                        <h4>Invite new user</h4>
                                    </div>
                                    <input id="input-invite-email" name="model.Email" required type="email" class="inputs" maxlength="250" placeholder="Email" />

                                    <input class="btn btn-default button save-button" type="submit" value="Invite" style="height: 50px; margin-top: -4px;" />
                                </div>
                            </div>
                        }
                    </div>
                    <div>
                        <h4>Users</h4>
                        <div>
                            @if (Model != null)
                            {
                                foreach (var user in Model)
                                {
                                    Html.RenderPartial("UserRow", user);
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button back-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
}
else
{
    <header style="margin: 15px">
        <h3 style="color: #2c3e50;">Some error happened, please try later</h3>
    </header>
}

<style>
    .merchant-user-row {
        padding: 10px 10px 10px 0;
    }

    .merchant-user-row:hover > a {
    display: block;
}

    .merchant-user-row a {
        position: absolute;
        float: left;
        margin: 0;
    }

    .merchant-user-row label {
        margin-left: 30px;
    }
</style>

<script type="text/javascript">
    function UpdateMerchantBegin() {
        $(".save-button").attr('disabled', 'disabled');
        window.ShowOwerlay();
    }

    function UpdateMerchantSuccess(result) {
        table.row($('#@(ViewBag.MerchantId)')).remove().draw();


        var rowDraw = table.row.add($(result)[0]).draw();
        rowDraw.show().draw(false);
        var rowNode = rowDraw.node();
        var row = $(rowNode);
        row.addClass('active').siblings().removeClass('active');
        row.click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        });

        /*hide model*/
        $('#merchant-info-form-container').modal('hide');

        window.Notify('<strong>Success.</strong>', "Save merchant success", 'success');
    }

    function UpdateMerchantFailre(result) {
        window.Notify('<strong>Error.</strong>', "Can't save merrchant", 'danger');
    }

    function UpdateMerchantComplete(result) {
        $(".save-button").removeAttr('disabled');
        window.HideOwerlay();
    }

    function ConfirmUnlink(userId) {
        if (confirm("Are you sure want to unlink user?")) {
            UnlinkUser(userId);
        }
    }

    function UnlinkUser(userId) {
        var merchantId = $('#current-merchant-id').val();

        $.ajax({
            url: "/Merchant/UnlinckUser?merchantId=" + encodeURIComponent(merchantId) + "&userId=" + encodeURIComponent(userId),
            type: 'DELETE',
            success: function (result) {
                if (result) {
                    $("#" + userId).remove();
                    window.Notify('<strong>Success.</strong>', 'User unlink success.', 'success');
                } else {
                    window.Notify('<strong>Error.</strong>', "can't unlink this user.", 'danger');
                }
            }
        });
    }

    function InviteBegin(e) {
        window.ShowOwerlay();
    }

    function InviteSuccess(e) {
        $('#input-invite-email').val('');
        window.Notify('<strong>Success.</strong>', "Invite user success", 'success');
    }

    function InviteFailre(e) {
        window.Notify('<strong>Error.</strong>', e.statusText, 'danger');
    }

    function InviteComplete(e) {
        window.HideOwerlay();
    }
</script>

