﻿@model Onlinico.MiPoint.Web.Api.Models.Web.UserModel

@{
    Layout = null;
}

<div id="@Model.Id" class="merchant-user-row">
    <a onclick="UnlinkUser('@Model.Id')" class="table-icon unlink-icon" title="Remove User @Model.FullName"></a>
    <label>@Model.FullName</label>
    <label>@Model.Login</label>
</div>
