﻿@model List<Onlinico.MiPoint.Web.Api.Models.Web.PaymentViewModel>

<div>
    <header class="header">
        <h3>Payments</h3>
        <div style="float: right">
            <div class="action-btn-bar" style="display: inline-block; margin-right: 10px">
                <a id="download-payment-link" href="" download="payments.csv" class="action-btn action-btn-download" title="Download payments"></a>
            </div>
        </div>
    </header>
    <div style="margin-top: 30px;">
        <div class="container">
            <div class='col-md-1' style="padding-top: 12px; text-align: right;">
                <span>From</span>
            </div>
            <div class='col-md-4'>
                <div class="form-group">

                    <div class="input-group date" id="from-datetimepicker">
                        <input onkeydown="return false" id="startdate" value="@DateTime.UtcNow.Date" required type='text' class="form-control" style="max-width: 100%;" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-md-1' style="padding-top: 12px; text-align: right;">
                <span>To</span>
            </div>
            <div class='col-md-4'>
                <div class="form-group">

                    <div class='input-group date' id="to-datetimepicker">
                        <input onkeydown="return false" id="enddate" value="@DateTime.UtcNow.Date.AddHours(24)" required type='text' class="form-control" style="max-width: 100%;" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-md-2'>
                <input id="apply-btn" onclick="applyDatetime()" type="button" class="button save-button" value="Apply" style="width: 80px;" />
            </div>
        </div>
    </div>
    <div>
        <div id="container-payments" style="margin-top: 25px;">
            <div class="container">
                <table id="table-payments" class="table table-striped table-hover table-miPoint">
                    <thead>
                        <tr>
                            <th>OrderId</th>
                            <th>DeviceId</th>
                            <th>Created</th>
                            <th>Card type</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="4" style="text-align:right">Amount Total:</th>
                            <th colspan="3"></th>
                        </tr>
                    </tfoot>
                    <tbody id="tbody-merchants"></tbody>
                </table>
            </div>
        </div>

        <div id="container-empty-payments" class="center empty" style="display: none">
            <H4>payments empty.</H4>
        </div>
    </div>
</div>

<script type="text/javascript">

    var table;

    $(function () {
        var fromDate = $('#from-datetimepicker');
        var toDate = $('#to-datetimepicker');

        fromDate.datetimepicker();
        toDate.datetimepicker({
            //useCurrent: false //Important! See issue #1075
        });

        fromDate.on("dp.change", function (e) {

            toDate.data("DateTimePicker").minDate(e.date);
        });
        toDate.on("dp.change", function (e) {
            fromDate.data("DateTimePicker").maxDate(e.date);
        });

        table = $('#table-payments').DataTable({
            "pageLength": 10,
            "order": [[1, "asc"]],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }],
            "fnDrawCallback": function (oSettings) {
                var paginationButtons = $('.paginate_button');
                if (paginationButtons.length > 3) {
                    paginationButtons.show();
                } else {
                    paginationButtons.hide();
                }
            },
            "footerCallback": function (row, data, start, end, display) {
                
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var floatVal = function (i) {
                    if (typeof i === 'string') {
                        return parseFloat(i);
                    } else if (typeof i === 'number') {
                        return isNaN(i) ? 0 : i;
                    } else {
                        return 0;
                    }
                };

                // Total over all pages
                var total = api
                    .column(4, { "filter": "applied" })
                    .data()
                    .reduce(function (a, b) {
                        return floatVal(a) + floatVal(b);
                    }, 0);

                // Total over this page
                var pageTotal = api
                    .column(4, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return floatVal(a) + floatVal(b);
                    }, 0);

                // Update footer
                $(api.column(4).footer()).html(
                    '$' + Math.round(pageTotal * 100) / 100 + ' ( $' + Math.round(total * 100) / 100 + ' total)'
                );
            }
        });

        getPayments();
        updateDownloadLink();
    });

    function updateDownloadLink() {
        var start = $('#startdate').val();
        var end = $('#enddate').val();
        var downloadUrl = '@Url.Action("ExportPayments", "Payments")' + '?locationId=' + '@ViewBag.LocationId' + "&start=" + encodeURIComponent(start) + "&end=" + encodeURIComponent(end);
        $("#download-payment-link").attr("href", downloadUrl);
    }

    function getPayments() {
        var start = $('#startdate').val();
        var end = $('#enddate').val();

        if (start !== "" && end !== "") {
            window.ShowOwerlay();

            $.get('@Url.Action("PaymentRows", "Payments")' + '?locationId=' + '@ViewBag.LocationId' + "&start=" + encodeURIComponent(start) + "&end=" + encodeURIComponent(end) + "&timezoneOffset=" + new Date().getTimezoneOffset() + '&random=' + window.getRandomInt(0, 99999), function (result) {
                table.clear().draw();
                table.rows.add($(result).filter("tr")).draw();
            }).done(function () {

            }).fail(function () {
                window.Notify('<strong>Error.</strong>', "Can't download locations. Please try again later.", 'danger');
            }).always(function () {
                window.HideOwerlay();
                $('#table-payments > tbody > tr').click(function () {
                    $(this).addClass('active').siblings().removeClass('active');
                });
            });
        } else {
            window.Notify('<strong>Message.</strong>', "Please enter 'From' and 'To' date.", 'info');
        }
    }

    function applyDatetime() {
        getPayments();
        updateDownloadLink();
    }
</script>