﻿@model Onlinico.MiPoint.Web.Api.Models.Web.PaymentViewModel
    
@{
    Layout = null;
}

@if (Model != null)
{
    <tr id="@Model.Id">
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.OrderId
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.DeviceId
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.Created
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.CardType
            </div>
        </td>
        <td>
            @Model.Amount
            @*<div class="table-six-col-content hideOverflow">
                @Model.Amount
            </div>*@
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.Status
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.Type
            </div>
        </td>
    </tr>
}
