﻿@model Onlinico.MiPoint.Web.Api.Models.Web.HistoryModel
<script src="~/Content/jsoneditor/jsoneditor.js"></script>
<link href="~/Content/jsoneditor/jsoneditor.css" rel="stylesheet" />

@if (Model != null)
{
    <div class="container" style="max-width: 900px">
        <h4>Request details</h4>

        <div style="margin-top: 30px; margin-bottom: 15px">
            @Html.Label("Secret", htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.LocationSecret, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationSecret, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin-bottom: 15px">
            @Html.Label("Device", htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.DeviceId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeviceId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin-bottom: 15px">
            @Html.LabelFor(model => model.Agent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.Agent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Agent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin-bottom: 15px">
            @Html.LabelFor(model => model.Method, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.Method, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Method, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin-bottom: 15px">
            @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin-bottom: 15px">
            @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="margin-bottom: 15px">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="margin-bottom: 15px">
            @Html.LabelFor(model => model.StatusCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.StatusCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StatusCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <div style="margin-bottom: 15px">
                @Html.LabelFor(model => model.RequestHeaders, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.RequestHeaders, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequestHeaders, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="requestjsoneditor" style="">
                
            </div>
        </div>

        <div>
            <div style="margin-bottom: 15px; margin-top: 15px">
                @Html.LabelFor(model => model.ResponseHeaders, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.ResponseHeaders, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ResponseHeaders, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="responsejsoneditor" style="">
                
            </div>
        </div>

    </div>
}
else
{
    <div>
        <h2>Sorry, some error happened, please try again later.</h2>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            var historyId = '@ViewBag.HistoryId';
            var requestcontainer = document.getElementById("requestjsoneditor");
            var responsecontainer = document.getElementById("responsejsoneditor");
            var options = {};
            var requesteditor = new JSONEditor(requestcontainer, options);
            var responseeditor = new JSONEditor(responsecontainer, options);

            try {
                requesteditor.set(JSON.parse(@Html.Raw(Json.Encode(Model.RequestContent))));
            } catch (e) {
                
            }

            try {
                responseeditor.set(JSON.parse(@Html.Raw(Json.Encode(Model.ResponseContent))));
            } catch (e) {
                
            }
            @*$.getJSON('@Url.Action("GetHistoryContent")' + "?id=" + historyId, function (result) {
                requesteditor.set(result);
            });*@

        })


    </script>

}
<style>
    input {
        max-width: 600px;
    }
</style>