﻿@model Onlinico.MiPoint.Web.Api.Models.Web.HistoryModel

@{
    Layout = null;
}

@if (Model != null)
{
    <tr id="@Model.Id">
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.LocationSecret
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.DeviceId
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.Method
            </div>
        </td>
        <td title="@Model.Url">
            <div class="table-six-col-content hideOverflow" style="max-width: 250px">
                @Model.Url
            </div>
        </td>
        <td class="start-datetime-col">
            <div class="table-six-col-content hideOverflow">
                @Model.Start.ToString("MM/dd/yyyy h:mm:ss tt")
            </div>
        </td>
        @*<td>
            <div class="table-six-col-content hideOverflow">
                @Model.Duration.ToString("g")
            </div>
        </td>*@
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.StatusCode
            </div>
        </td>
    </tr>
}


