﻿@model List<Onlinico.MiPoint.Web.Api.Models.Web.HistoryModel>

@{
    Layout = null;
}

@if (Model != null && Model.Any())
{
    foreach (var history in Model)
    {
        <tr id="@history.Id">
            <td>
                <div class="table-six-col-content hideOverflow">
                    @history.LocationSecret
                </div>
            </td>
            <td>
                <div class="table-six-col-content hideOverflow">
                    @history.DeviceId
                </div>
            </td>
            <td>
                <div class="table-six-col-content hideOverflow">
                    @history.Method
                </div>
            </td>
            <td title="@history.Url">
                <div class="table-six-col-content hideOverflow" style="max-width: 250px">
                    @history.Url
                </div>
            </td>
            <td class="start-datetime-col">
                <div class="table-six-col-content hideOverflow">
                    @history.Start.ToString("MM/dd/yyyy h:mm:ss tt")
                </div>
            </td>
            @*<td>
                    <div class="table-six-col-content hideOverflow">
                        @Model.Duration.ToString("g")
                    </div>
                </td>*@
            <td>
                <div class="table-six-col-content hideOverflow">
                    @history.StatusCode
                </div>
            </td>
        </tr>
    }
}
