﻿<script src="~/Scripts/moment.min.js"></script>

<div>
    <header class="header">
        <h3>Request history</h3>
    </header>

    <div style="margin-top: 35px;">
        <div class="container">
            <div class='col-md-1' style="padding-top: 12px; text-align: right;">
                <span>From</span>
            </div>
            <div class='col-md-4'>
                <div class="form-group">

                    <div class="input-group date" id="from-datetimepicker">
                        <input onkeydown="return false" id="startdate" value="@DateTime.UtcNow.Date" required type='text' class="form-control" style="max-width: 100%;" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-md-1' style="padding-top: 12px; text-align: right;">
                <span>To</span>
            </div>
            <div class='col-md-4'>
                <div class="form-group">

                    <div class='input-group date' id="to-datetimepicker">
                        <input onkeydown="return false" id="enddate" value="@DateTime.UtcNow.Date.AddHours(24)" required type='text' class="form-control" style="max-width: 100%;" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-md-2'>
                <input id="apply-btn" onclick="applyDatetime()" type="button" class="button save-button" value="Apply" style="width: 80px;" />
            </div>
        </div>
    </div>

    <div id="container-history" style="margin-top: 40px;">
        <div class="container">
            <table id="table-history" class="table table-striped table-hover table-miPoint">
                <thead>
                    <tr>
                        <th>Secret</th>
                        <th>Device</th>
                        <th>Method</th>
                        <th>Url</th>
                        <th>Start</th>
                        <th>Status Code</th>
                    </tr>
                </thead>
                <tbody id="tbody-history">
                </tbody>
            </table>
        </div>
    </div>


</div>


@section scripts {

    <script>
        var table;

        $(function () {

            var fromDate = $('#from-datetimepicker');
            var toDate = $('#to-datetimepicker');

            fromDate.datetimepicker();
            toDate.datetimepicker({
                //useCurrent: false //Important! See issue #1075
            });

            fromDate.on("dp.change", function (e) {

                toDate.data("DateTimePicker").minDate(e.date);
            });
            toDate.on("dp.change", function (e) {
                fromDate.data("DateTimePicker").maxDate(e.date);
            });

            table = $('#table-history').DataTable({
                "pageLength": 25,
                //"order": [[3, "desc"]],
                "aaSorting": [],
                "columnDefs": [
                    {
                        "targets": 'no-sort',
                        "orderable": false,
                    }
                ],
                "fnDrawCallback": function (oSettings) {
                    var paginationButtons = $('.paginate_button');
                    if (paginationButtons.length > 3) {
                        paginationButtons.show();
                    } else {
                        paginationButtons.hide();
                    }

                    var rows = $('tbody tr');
                    rows.unbind("dblclick");
                    rows.dblclick(function () {
                        var historyId = $(this).attr("id");
                        window.open('@Url.Action("HistoryDetails")' + "?id=" + historyId + "&timezoneOffset=" + new Date().getTimezoneOffset(), '_blank');
                    });
                }
            });

            getHistoryes();
        });

        function getHistoryes() {
            var start = $('#startdate').val();
            var end = $('#enddate').val();

            if (start !== "" && end !== "") {
                window.ShowOwerlay();

                $.get('@Url.Action("HistoryRows", "History")' + "?start=" + encodeURIComponent(start) + "&end=" + encodeURIComponent(end) + "&timezoneOffset=" + new Date().getTimezoneOffset() + '&random=' + window.getRandomInt(0, 99999), function (result) {
                    table.clear().draw();
                    table.rows.add($(result).filter("tr")).draw();
                }).done(function () {

                }).fail(function () {
                    window.Notify('<strong>Error.</strong>', "Can't download histories. Please try again later.", 'danger');
                }).always(function () {
                    window.HideOwerlay();
                    $('#table-history > tbody > tr').click(function () {
                        $(this).addClass('active').siblings().removeClass('active');
                    });
                });
            } else {
                window.Notify('<strong>Message.</strong>', "Please enter 'From' and 'To' date.", 'info');
            }
        }

        function applyDatetime() {
            getHistoryes();
        }
    </script>
}
<style>
    .center {
        margin: auto;
        width: 150px;
        align-content: center;
        padding: 10px;
    }
</style>
