﻿<div>
    <div>
        <header style="margin: 15px">
            <h3 style="color: #2c3e50;">Documentation</h3>
        </header>
    </div>
    <div style="margin: 25px;">
        <h4 style="color: #2c3e50;">Proxy server:</h4>
        <div style="padding: 8px">

            <div>
                <h5 style="font-weight: bold;"> - Omnivore Endpoint</h5>
                <div style="margin-left: 20px">
                    <span>Address: "@ViewBag.EndPointUrl" </span>
                </div>
                <div style="margin-left: 20px">
                    <span>For example, to get all location from Omnivore web api: "@ViewBag.EndPointExampleUrl" </span>
                </div>
            </div>
            <div>
                <h5 style="font-weight: bold;"> - Authentication</h5>
                <div style="margin-left: 20px">
                    <span>Authentication is done using "api-key" that are assigned inside of the MiPoint and are application specific.</span>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 25px;">
        <h4 style="color: #2c3e50;">Web Api:</h4>
        <div style="padding: 8px">

            <div>
                <h5 style="font-weight: bold;"> - Swagger Documentation</h5>
                <div style="margin-left: 20px">
                    <div>
                        <a href="@(ViewBag.RootUrl + "/swagger")" target="_blank">Swagger Root</a>
                    </div>
                    @*<div>
                        <a href="@(ViewBag.RootUrl + "/swagger/ui/index#!/Location/Location_Get")" target="_blank">Locations</a>
                    </div>
                    <div>
                        <a href="@(ViewBag.RootUrl + "/swagger/ui/index#/Omnivore")" target="_blank">Proxy Omnivore</a>
                    </div>
                    <div>
                        <a href="@(ViewBag.RootUrl + "/swagger/ui/index#/")" target="_blank">Receipts</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>

</div>
