﻿@model Onlinico.MiPoint.Web.Api.Models.Web.ReceiptModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receipt</title>
</head>
<body>
    <div>
        @if (Model != null)
        {
            <div>
                <div id="x_body_style" style="padding: 20px 25px 20px 15px; background: #fff; min-height: 1000px; color: #222; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; width: 600px; margin: 0 auto">
                    <table align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td align="left" width="300" style="border-collapse: collapse; font-size: 16px; vertical-align: top">
                                    <h1 style="color: #222; line-height: 100%; margin-bottom: 0">@Model.LocationName</h1>
                                </td>
                                <td align="right" width="300" style="border-collapse: collapse; font-size: 16px; vertical-align: top">
                                    <h3 style="color: #222; line-height: 100%">@Model.ReceiptDate</h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <table align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td align="left" width="600" style="border-collapse: collapse; font-size: 16px"></td>
                            </tr>
                            <tr>
                                <td align="left" width="600" style="border-collapse: collapse; font-size: 16px">@Model.Address1</td>
                            </tr>
                            <tr>
                                <td align="left" width="600" style="border-collapse: collapse; font-size: 16px">@Model.Address2</td>
                            </tr>
                            <tr>
                                <td align="left" width="600" style="border-collapse: collapse; font-size: 16px">@Model.Phone</td>
                            </tr>
                            <tr>
                                <td align="left" width="600" style="border-collapse: collapse; font-size: 16px">
                                    <h3 style="line-height: 100%"></h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="600" style="border-collapse: collapse; font-size: 16px">Cashier: @Model.Cashier </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="600" style="border-collapse: collapse; font-size: 16px">
                                <div class="x_sep-line" style="height: 1px; overflow: hidden; background: #34763B; margin-top: 30px; margin-bottom: 30px">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">Total </td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px">@Model.TotalSum</td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">Tip </td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px">@Model.TipSum</td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">
                                    <div class="x_sep-line" style="height: 1px; overflow: hidden; background: #34763B; margin-top: 30px; margin-bottom: 30px">
                                    </div>
                                </td>
                                <td width="200" style="border-collapse: collapse; font-size: 16px">
                                    <div class="x_sep-line" style="height: 1px; overflow: hidden; background: #34763B; margin-top: 30px; margin-bottom: 30px">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">
                                    <h2 style="color: #222; line-height: 100%">Payments</h2>
                                </td>
                                <td width="200" style="border-collapse: collapse; font-size: 16px"></td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">Date </td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px">@Model.Payment.CreatedTime</td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">CREDIT CARD @Model.Payment.TransactionType</td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">@Model.Payment.CardType XXXXXXXXXXXX @Model.Payment.Last4</td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px">@Model.Payment.Amount</td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">Transaction # </td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px">@Model.Payment.TransactionId</td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">AUTH </td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px">@Model.Payment.AuthCode </td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">REF </td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px">@Model.Payment.ReferenceId </td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">AID </td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px">@Model.Payment.ApplicationId </td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">Rtlnd </td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px">CREDIT</td>
                            </tr>
                            <tr>
                                <td width="300" style="border-collapse: collapse; font-size: 16px">CVM </td>
                                <td align="right" width="300" style="border-collapse: collapse; font-size: 16px">@Model.Payment.Cvm </td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px"> </td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px"> </td>
                            </tr>
                            <tr>
                                <td width="600" style="border-collapse: collapse; font-size: 16px">
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">Table number </td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px">@(Model.TableNumber ?? "--")</td>
                            </tr>
                            <tr>
                                <td width="400" style="border-collapse: collapse; font-size: 16px">Order </td>
                                <td align="right" width="200" style="border-collapse: collapse; font-size: 16px">@Model.TicketNumber</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div style="width: 200px; margin: 70px auto;">
                <h3>Invalid bill id.</h3>
            </div>
        }
    </div>
</body>
</html>
