﻿.center {
    margin: auto;
    width: 180px;
    align-content: center;
    padding: 10px;
}



.remove-merchant-icon {
    background-image: url(/Content/Icons/trash.png);
}

.merchant-users-icon {
    background-image: url(/Content/Icons/user-group.png);
}

.markers-merchant-icon {
    background-image: url(/Content/Icons/locations.png);
}

.edit-merchant-icon {
    background-image: url(/Content/Icons/edit.png);
}

.unlink-icon {
    background-image: url(/Content/Icons/unlink.png);
}
