﻿@model Onlinico.MiPoint.Web.Api.Models.Web.LicenceAgreementViewModel
@{
    ViewBag.Title = "Licence Agreement";
}

<div>
    <h2>Licence Agreement</h2>
    <div>
        <iframe width="100%" height="700px" src="/Content/files/Licence Agreement v1.1.pdf"></iframe>
    </div>
</div>


