﻿@model Onlinico.MiPoint.Web.Api.Models.Web.LoginModel

<div class="row">
    <header style="margin: 15px">
        <h3 style="color: #2c3e50;">Log in</h3>
    </header>
    <div style="margin-top: 50px;">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" onclick="window.ShowOwerlay()" value="Log in" class="button save-button"/>
                            @Html.ActionLink("Forgot password?", "ForgotPassword", "Account")
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>

@*<style>
    .form-control {
        height: 45px;
    }

</style>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@