﻿@model Onlinico.MiPoint.Web.Api.Models.Web.PrivacyPolicyViewModel
@{
    ViewBag.Title = "Privacy Policy";
}

<div>
    <h2>Privacy Policy</h2>
    <div>
        <iframe width="100%" height="700px" src="/Content/files/Privacy Policy v1.1.pdf"></iframe>
    </div>
</div>
