﻿@model List<Onlinico.MiPoint.Web.Api.Models.Web.SelectedItem<Onlinico.MiPoint.Web.Api.Models.Web.LocationModel>>
@{
    Layout = null;
}

<div class="modal-dialog">

    @using (Ajax.BeginForm("AddLocations", "Location", new AjaxOptions { OnBegin = "AddLocationsBegin", OnSuccess = "AddLocationsSuccess", OnFailure = "AddLocationsFailre", OnComplete = "AddLocationsComplete" }, new { id = "add-locations-form" }))
    {
        <input name="merchantId" type="hidden" value="@ViewBag.MerchantId" />
                <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add locations</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label>Locations</label>
                    </div>
                    <select id="user-merchants-multiselect" name="identifiers" multiple="multiple">
                        @if (Model != null && Model.Any())
                        {
                            for (var i = 0; i < Model.Count; i++)
                            {
                                <option name="identifiers[@i]" value="@Model[i].Item.Identifier" @(Model[i].Selected ? "selected" : "")>@Model[i].Item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default button save-button">Add</button>
                <button type="button" class="btn btn-default button back-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $('#user-merchants-multiselect').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true
        });

        $("#add-locations-form").attr("action", $("#add-locations-form").attr("action") + "&timeOffset=" + new Date().getTimezoneOffset());
    });

    function AddLocationsBegin() {
        window.ShowOwerlay();
    }

    function AddLocationsSuccess() {
        $('#location-form-container').modal('hide');

        setTimeout(
            function () {
                window.ReloadLocations("Success.", "Add locations success", 'success');
        }, 500);
    }

    function AddLocationsFailre(result) {
        window.Notify('<strong>Error.</strong>', "Can't add locations", 'danger');
    }

    function AddLocationsComplete() {
        window.HideOwerlay();
    }
</script>