﻿@model Onlinico.MiPoint.Web.Api.Models.Web.LocationModel

@if (Model != null)
{
    <tr id="@Model.Id" fingerprint="@Model.AgentFingerprint">
        <td>
            <div>
                <a onclick="EditLocationSettings('@Model.Id', '@Model.IsOffline.ToString()')" class="table-icon settings-location-icon" title="Configure location settings"></a>
                <a onclick="EditLocationMappingScheme('@Model.Id')" class="table-icon mapping-scheme-location-icon" title="Edit location mapping scheme"></a>
                @if (!Model.IsOffline)
                {
                    <a onclick="ConfirmSyncLocation('@Model.Id')" class="table-icon row-sync-icon" title="Sync location with Omnivore"></a>
                }

                @if (ViewBag.IsAdmin ?? true)
                {
                    <a onclick="ConfirmRemoveLocation('@Model.Id')" class="table-icon row-remove-icon" title="Remove location"></a>
                }

                <div class="dropdown @(!string.IsNullOrEmpty(Model.AgentFingerprint)  ? "" : "hidden-item")">
                    <button onclick="toggleDropdown('@(Model.Id + "-btn-toggle")')" class="dropbtn table-icon client-settings-icon" title="Agent actions"></button>
                </div>
                <div id="@(Model.Id + "-btn-toggle")" class="dropdown-content" style="position: absolute">
                    <a class="online @(Model.IsAgentActive || Model.IsVicarActive ? "" : "hidden-item")" onclick="RestartAgent('@Model.Id')">Agent restart</a>
                    <a onclick="RemoveAgentKey('@Model.Id')">Clear agent key</a>
                    <a class="online @(Model.IsAgentActive || Model.IsVicarActive ? "" : "hidden-item")" onclick="GetAgentLog('@Model.Id')">Get log</a>
                    <a class="online @(Model.IsAgentActive || Model.IsVicarActive ? "" : "hidden-item")" onclick="UpdateAgent('@Model.Id')">Agent update</a>
                </div>

            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @*<div class="location-indicator @(!string.IsNullOrEmpty(Model.AgentFingerprint) ? Model.IsActive ? "location-indicator-online" : "location-indicator-offline" : string.Empty)"></div>*@

                <div class="location-indicator location-indicator-online @(Model.IsAgentActive ? string.Empty : "hidden-item")"></div>
                <div class="location-indicator location-indicator-degraded @(Model.IsVicarActive ? string.Empty : "hidden-item")"></div>
                <div class="location-indicator location-indicator-offline @(!string.IsNullOrEmpty(Model.AgentFingerprint) ? string.Empty : "hidden-item")"></div>

                <span class="@(Model.IsConfigured || Model.IsOffline ? null : "notConfigured")" style="margin-left: 20px;">
                    @( Model.IsConfigured || Model.IsOffline ? Model.Id : "Need to configure")
                </span>

            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.Identifier
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.Name
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.Owner
            </div>
        </td>
        <td>
            <div class="table-six-col-content hideOverflow">
                @Model.PosType
            </div>
        </td>
    </tr>
}