﻿@{
    Layout = null;
}
<div>
    <header class="header">
        <h3>Locations</h3>
        @if (ViewBag.IsAdmin ?? false)
        {
            <div style="float: right">
                <div class="action-btn-bar" style="display: none; margin-right: 10px">
                    <a onclick="GoToPayments()" class="action-btn action-btn-payments" title="Payments"></a>
                </div>
                <div style="display: inline-block; margin-right: 10px">
                        <a onclick="AddLocation('@ViewBag.MerchantId')" class="action-btn action-btn-add" title="Manage Omnivore locations"></a>
                    </div>
                @*<div class="action-btn-bar" style="display: none; margin-right: 10px">
                    <a id="download-agent-link" href="" download="" class="action-btn action-btn-download" title="Download location agent"></a>
                </div>

                <div class="dropdown" style="display: inline-block">
                    <button onclick="toggleDropdown('createLocationBtnToggle')" class="dropbtn action-btn action-btn-add"></button>
                    <div id="createLocationBtnToggle" class="dropdown-content">
                        <a onclick="AddOfflineLocation('@ViewBag.MerchantId')">New offline location</a>
                        <a onclick="AddLocation('@ViewBag.MerchantId')">Manage Omnivore locations</a>
                    </div>
                </div>*@
            </div>
        }
    </header>
    <div>
        <div id="container-locations" style="margin-top: 40px;">
            <div class="container">
                <table id="table-locations" class="table table-striped table-hover table-miPoint">
                    <thead>
                        <tr>
                            <th class="no-sort" style="min-width: 90px"></th>
                            <th>Secret</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-merchants"></tbody>
                </table>
            </div>
        </div>

        <div id="container-empty-locations" class="center empty" style="display: none">
            <H4>Locations empty.</H4>
        </div>
    </div>
</div>

<div class="container">
    <div id="location-form-container" class="modal fade" role="dialog">

    </div>
</div>


<script type="text/javascript">

    var table;
    var currentLocationId;

    $(function () {
        table = $('#table-locations').DataTable({
            "pageLength": 10,
            "order": [[1, "asc"]],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }],
            "fnDrawCallback": function (oSettings) {
                var paginationButtons = $('.paginate_button');
                if (paginationButtons.length > 3) {
                    paginationButtons.show();
                } else {
                    paginationButtons.hide();
                }

            }
        });

        table.on('length.dt', function () { })
            .on('order.dt', function () { HideActionBar(); })
            .on('search.dt', function () { HideActionBar(); })
            .on('page.dt', function () { HideActionBar(); });

        window.ShowOwerlay();
        $.get('@Url.Action("LocationRows")' + '?merchantId=' + '@ViewBag.MerchantId' + '&random=' + window.getRandomInt(0, 99999), function (result) {

            table.rows.add($(result).filter("tr")).draw();

            CheckEmpty();
        }).done(function () {

        }).fail(function () {
            window.Notify('<strong>Error.</strong>', "Can't download locations. Please try again later.", 'danger');
        }).always(function () {
            //"finished"
            window.HideOwerlay();

            $('#table-locations > tbody > tr').click(function () {
                currentLocationId = $(this).attr('id');
                $(this).addClass('active').siblings().removeClass('active');
                ShowActionBar();
            });
        });

        window.bootstrapModalBindBackbutton($('#location-form-container'));

        connectToHub();
    });


    function connectToHub() {
        var userHubProxy = $.connection.userHub;
        userHubProxy.on('agentStateChanged', function (apikey, state) {
            agentStateChanged(apikey, state);
        });
        $.connection.hub.start()
            .done(function () { console.log('Now connected, connection ID=' + $.connection.hub.id); })
            .fail(function () { console.log('Could not Connect!'); });
    }

    function agentStateChanged(apikey, state) {
        console.log(apikey + " " + state);
        var locationrow = $("#table-locations #" + apikey); // $("#table-locations [fingerprint*='" + apikey + "']");
        if (locationrow.length > 0) {


            var agentConfigBtn = locationrow.find(".online");
            switch (state) {
                case "Agent-Conected":
                case "Agent-Reconnected":
                    $('#' + apikey + ' .dropdown ').removeClass('hidden-item');

                    if (agentConfigBtn.hasClass("hidden-item")) {
                        agentConfigBtn.removeClass("hidden-item");
                    }

                    var onlineIndicator = locationrow.find(".location-indicator-online");
                    if (onlineIndicator.hasClass("hidden-item")) {
                        onlineIndicator.removeClass("hidden-item");
                    }
                    break;
                case "Agent-Disconected":

                    if (!agentConfigBtn.hasClass("hidden-item")) {
                        agentConfigBtn.addClass("hidden-item");
                    }

                    var onlineIndicator = locationrow.find(".location-indicator-online");
                    if (!onlineIndicator.hasClass("hidden-item")) {
                        onlineIndicator.addClass("hidden-item");
                    }
                    break;
                case "Vicar-Conected":
                case "Vicar-Reconnected":
                    $('#' + apikey + ' .dropdown ').removeClass('hidden-item');

                    if (agentConfigBtn.hasClass("hidden-item")) {
                        agentConfigBtn.removeClass("hidden-item");
                    }

                    var degradedIndicator = locationrow.find(".location-indicator-degraded");

                    if (degradedIndicator.hasClass("hidden-item")) {
                        degradedIndicator.removeClass("hidden-item");
                    }
                    break;

                case "Vicar-Disconected":
                    var degradedIndicator = locationrow.find(".location-indicator-degraded");

                    if (!degradedIndicator.hasClass("hidden-item")) {
                        degradedIndicator.addClass("hidden-item");
                    }
                    break;

            }
        }
    }

    function AddLocation(merchantId) {
        var isError = false;
        window.ShowOwerlay();
        var formContainer = $('#location-form-container');
        formContainer.load('@Url.Action("AddLocations", "Location")' + '?merchantId=' + encodeURIComponent(merchantId), function (responseText, textStatus, req) {

            console.log(textStatus);
            if (textStatus === "error") {
                isError = true;
            }
            window.HideOwerlay();
        });
        if (!isError) {
            formContainer.modal('show');
        }
    }

    function AddOfflineLocation(merchantId) {
        var isError = false;
        window.ShowOwerlay();
        var formContainer = $('#location-form-container');
        formContainer.load('@Url.Action("NewOfflineLocation", "Location")' + '?merchantId=' + encodeURIComponent(merchantId), function (responseText, textStatus, req) {

            if (textStatus === "error") {
                isError = true;
            }
            window.HideOwerlay();
        });
        if (!isError) {
            formContainer.modal('show');
        }
    }

    function ConfirmRemoveLocation(locationId) {
        if (confirm("Are you sure what to remove locations?")) {
            RemoveLocation(locationId);
        }
    }

    function RemoveLocation(locationId) {
        window.ShowOwerlay();
        $.get('@Url.Action("RemoveLocation", "Location")' + "?locationId=" + locationId, function (result) {
            window.HideOwerlay();
            if (result) {
                table.row($('#' + locationId)).remove().draw();
                window.Notify('<strong>Success.</strong>', 'Location remove success.', 'success');
            } else {
                window.Notify('<strong>Error.</strong>', "Can't remove location.", 'danger');
            }
        });
    }

    function ConfirmSyncLocation(locationId) {
        if (confirm("Are you sure what to synchronize location?")) {
            SyncLocation(locationId);
        }
    }

    function ShowActionBar() {
        var downloadLink = $('#download-agent-link');
        downloadLink.attr('href', '@Url.Action("Download", "Agent")' + "?locationId=" + currentLocationId);
        //downloadLink.attr('download', "MiPointSetup." + currentLocationId + ".exe");

        $('.action-btn-bar').css('display', 'inline-block');
    }

    function HideActionBar() {
        $('.action-btn-bar').css('display', 'none');
    }

    function SyncLocation(locationId) {
        $.ajax({
            url: '@Url.Action("SyncLocation", "Location")' + "?locationId=" + encodeURIComponent(locationId),
            type: 'GET',
            beforeSend: function (e) {
                window.ShowOwerlay();
            },
            complete: function (e) {
                window.HideOwerlay();
            },
            success: function (result) {
                if (result) {
                    $.get('@Url.Action("GetLocationRow", "Location")' + "?locationId=" + encodeURIComponent(locationId), function (result) {
                        /*remove old row*/
                        table.row($('#' + locationId)).remove().draw();
                        /*add new row*/
                        var rowDraw = table.row.add($(result)[0]).draw();
                        rowDraw.show().draw(false);
                        var rowNode = rowDraw.node();
                        var row = $(rowNode);
                        row.addClass('active').siblings().removeClass('active');
                        row.click(function () {
                            $(this).addClass('active').siblings().removeClass('active');
                        });

                        ShowActionBar();
                    }).fail(function () {
                        window.Notify('<strong>Error.</strong>', "Location synchronized, but some error happened when reload location.", 'danger');
                    });
                    window.Notify('<strong>Success.</strong>', 'Synchronize location success.', 'success');
                } else {
                    window.Notify('<strong>Error.</strong>', "Can't synchronize location.", 'danger');
                }
            }
        });
    }

    function EditLocationSettings(locationId, isOffline) {
        window.ShowOwerlay();
        var formContainer = $('#location-form-container');
        formContainer.load('@Url.Action("Settings")' + '?locationId=' + encodeURIComponent(locationId) + "&isOffline=" + isOffline + "&timeOffset=" + new Date().getTimezoneOffset(), function () {
            window.HideOwerlay();
        });
        formContainer.modal('show');
    }

    function EditLocationMappingScheme(locationId) {
        window.ShowOwerlay();
        var formContainer = $('#location-form-container');
        formContainer.load('@Url.Action("MappingScheme")' + '?locationId=' + encodeURIComponent(locationId), function () {
            window.HideOwerlay();
        });
        formContainer.modal('show');
    }

    function ReloadLocations(strong, message, messageType) {
        $('#body-container').load('@Url.Action("Locations", "Location")' + window.location.search, function () {
            window.Notify('<strong>' + strong + '</strong>', message, messageType);
        });
    }

    function CheckEmpty() {
        if (table.data().count() > 0) {
            document.getElementById("container-locations").style.display = "block";
            document.getElementById("container-empty-locations").style.display = "none";
        } else {
            document.getElementById("container-locations").style.display = "none";
            document.getElementById("container-empty-locations").style.display = "block";
        }
    }


    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
    function toggleDropdown(btnId) {
        hideAllDropdown();

        document.getElementById(btnId).classList.toggle("show");
    }

    function hideAllDropdown() {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            hideAllDropdown();
        }
    }

    function RestartAgent(locationId) {
        if (confirm("Are you sure want to restart location agent?")) {
            window.ShowOwerlay();

            $.ajax({
                type: "POST",
                url: "/Location/RestartAgent",
                data: { locationId: locationId },
                success: function (result) {
                    window.Notify('<strong>Success.</strong>', 'Request has been sent to restart.', 'success');
                },
                error: function (result) {
                    window.Notify('<strong>Error.</strong>', "Can't sent restart request.", 'danger');
                },
                complete: function () {
                    window.HideOwerlay();
                }
            });
        }
    }

    function RemoveAgentKey(locationId) {
        if (confirm("Are you sure want to clear location agent key?")) {
            window.ShowOwerlay();

            $.ajax({
                type: "POST",
                url: "/Location/RemoveAgentKey",
                data: { locationId: locationId },
                success: function (result) {
                    $('#' + locationId + ' .dropdown ').addClass('hidden-item');
                    $('#' + locationId + ' .location-indicator').addClass("hidden-item");

                    window.Notify('<strong>Success.</strong>', 'Agent key has been removed.', 'success');
                },
                error: function (result) {
                    window.Notify('<strong>Error.</strong>', "Can't remove agent key.", 'danger');
                },
                complete: function () {
                    window.HideOwerlay();
                }
            });
        }
    }

    function GetAgentLog(locationId) {
        window.ShowOwerlay();
        var formContainer = $('#location-form-container');
        formContainer.load('@Url.Action("LogRequestForm")' + '?locationId=' + encodeURIComponent(locationId), function () {

            window.HideOwerlay();

            formContainer.modal('show');
        });
    }

    function UpdateAgent(locationId) {
        if (confirm("Are you sure want to start manual agent update?")) {
            window.ShowOwerlay();

            $.ajax({
                type: "POST",
                url: "/Location/UpdateAgent",
                data: { locationId: locationId },
                success: function (result) {
                    window.Notify('<strong>Success.</strong>', 'Request has been sent to update.', 'success');
                },
                error: function (result) {
                    window.Notify('<strong>Error.</strong>', "Can't sent update request.", 'danger');
                },
                complete: function () {
                    window.HideOwerlay();
                }
            });
        }
    }

    function GoToPayments() {
        window.location = '@Url.Action("Index", "Payments")' + "?locationId=" + currentLocationId;
    }
</script>


<style>
    .btn-sync:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration: 1s;
    }

    .center {
        margin: auto;
        width: 180px;
        align-content: center;
        padding: 10px;
    }

    .settings-location-icon {
        background-image: url(/Content/Icons/settings.png);
        margin-left: 12px;
    }

    .mapping-scheme-location-icon {
        background-image: url(/Content/Icons/mapping-scheme.png);
        margin-left: 12px;
    }

    .row-remove-icon {
        background-image: url(/Content/Icons/trash.png);
    }

    .row-sync-icon {
        background-image: url(/Content/Icons/sync.png);
    }

    .client-settings-icon {
        background-image: url(/Content/Icons/client-settings.png);
    }

    .btn-sync {
        float: right;
        margin-top: -35px;
        width: 35px;
        height: 35px;
        background-size: 35px 35px;
        background-image: url(/Content/Icons/sync.png);
        cursor: pointer;
    }


    .notConfigured {
        color: red;
    }



    /* Dropdown Button */
    .dropbtn {
        background-color: transparent;
        border: 0;
        /*background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;*/
        cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    /*.dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }*/

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        /*display: inline-block;*/
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        z-index: 9999;
        cursor: pointer;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }
</style>