﻿@model Onlinico.MiPoint.Web.Api.Models.Web.LogRequestModel
@{
    Layout = null;
}
<div class="modal-dialog">
    <div id="basket" style="display: none"></div>
    @using (Ajax.BeginForm("LogRequestForm", new AjaxOptions { OnSuccess = "SendLogRequestSuccess", OnBegin = "SendLogRequestBegin", OnFailure = "SendLogRequestFailre", OnComplete = "SendLogRequestComplete" }))
    {
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Log request form</h4>
            </div>
            <div class="modal-body">
                <div>
                    <input name="LocationId" type="hidden" value="@Model.LocationId" />
                    <div>
                        <label>@Html.RadioButtonFor(m => m.IsAgentLog, true) Agent log</label>

                        <label> @Html.RadioButtonFor(m => m.IsAgentLog, false) Client log</label>
                    </div>
                    <div>
                        <div>
                            <label>Log by date</label>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input id="log-date-picker" name="LogDate" required type="text" onkeydown="return false" value="@Model.LogDate" class="inputs" placeholder="Log date" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default button save-button">Send</button>
                <button type="button" class="btn btn-default button back-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    }

    <script type="text/javascript">
        $(function () {
            $("#log-date-picker").datetimepicker({
                format: 'MM/DD/YYYY'
            });
        });

        function SendLogRequestBegin(result) {
            window.ShowOwerlay();
        }

        function SendLogRequestSuccess(result) {
            $('#location-form-container').modal('hide');

            setTimeout(
                function () {
                    window.ReloadLocations("Success.", "Send log request success", 'success');
                }, 500);
        }

        function SendLogRequestFailre(result) {
            window.Notify('<strong>Error.</strong>', "Can't send log request", 'danger');
        }

        function SendLogRequestComplete(result) {
            window.HideOwerlay();
        }
    </script>

</div>
