﻿@model Onlinico.MiPoint.Web.Api.Models.Web.MappingSchemeModel

@{
    Layout = null;
}

<div class="modal-dialog">
    @*<div id="basket" style="display: none"></div>*@
    @using (Ajax.BeginForm("MappingScheme", "Location", new { Area = "" }, new AjaxOptions { OnSuccess = "SaveMappingSchemeSuccess", OnBegin = "SaveMappingSchemeBegin", OnFailure = "SaveMappingSchemeFailre", OnComplete = "SaveMappingSchemeComplete" }, new { id = "location-mapping-scheme-form" }))
    {
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Location mapping scheme</h4>
            </div>
            <div class="modal-body">
                <div>
                    <input name="model.LocationId" type="hidden" value="@Model.LocationId" />
                    <div>
                        <h3>Employees scheme</h3>
                        <div class="container">
                            <div class="col-md-5"><label>MiPoint model</label></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5"><label>Omnivore model</label></div>

                            @foreach (var employee in Model.EmployeeModelProperties.Select((value, i) => new { i, value }))
                            {
                                var selectedEmployyeList = Model.EmployeeModelProperties.Select(p => new SelectListItem
                                {
                                    Text = p.Text,
                                    Value = p.Value,
                                    Selected = Model.Employees != null
                                        ? Model.Employees.ContainsKey(employee.value.Value) && Model.Employees[employee.value.Value] == p.Value
                                        : employee.value.Value == p.Value,
                                });

                                <div class="col-md-5" style="padding: 0;">
                                    <div style="margin-top: 5px">
                                        <input name="model.Employees[@employee.i].Key" readonly="readonly" type="text" class="form-control" value="@employee.value.Value" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="margin: 16px auto auto auto; width: 30px; height: 20px">
                                        <img style="width: 30px; height: 20px;" src="/Content/Icons/double-arrow-left-icon.jpg" />
                                    </div>
                                </div>
                                <div class="col-md-5" style="padding: 0;">
                                    <div style="margin-top: 5px">
                                        @Html.DropDownList($"model.Employees[{employee.i}].Value", selectedEmployyeList, new { @class = "form-control" })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    <div>
                        <h3>Table scheme</h3>
                        <div class="container">
                            <div class="col-md-5"><label>MiPoint model</label></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5"><label>Omnivore model</label></div>

                            @foreach (var table in Model.TableModelProperties.Select((value, i) => new { i, value }))
                            {
                                var selectedEmployyeList = Model.TableModelProperties.Select(p => new SelectListItem
                                {
                                    Text = p.Text,
                                    Value = p.Value,
                                    Selected = Model.Tables != null
                                        ? Model.Tables.ContainsKey(table.value.Value) && Model.Tables[table.value.Value] == p.Value
                                        : table.value.Value == p.Value,
                                });

                                <div class="col-md-5" style="padding: 0;">
                                    <div style="margin-top: 5px">
                                        <input name="model.Tables[@table.i].Key" readonly="readonly" type="text" class="form-control" value="@table.value.Value" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="margin: 16px auto auto auto; width: 30px; height: 20px">
                                        <img style="width: 30px; height: 20px;" src="/Content/Icons/double-arrow-left-icon.jpg" />
                                    </div>
                                </div>
                                <div class="col-md-5" style="padding: 0;">
                                    <div style="margin-top: 5px">
                                        @Html.DropDownList($"model.Tables[{table.i}].Value", selectedEmployyeList, new { @class = "form-control" })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default button save-button">Save</button>
                <button type="button" class="btn btn-default button back-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    }

</div>

<script type="text/javascript">
    $(function () {

    });

    function SaveMappingSchemeBegin() {
        if (!confirm('Change default schema mapping can badly affect to work client device. Do you want to save changes?'))
            return false;

        $(".save-button").attr('disabled', 'disabled');
        window.ShowOwerlay();
    }

    function SaveMappingSchemeSuccess(result) {
        $('#location-form-container').modal('hide');
        window.Notify('<strong>Success.</strong>', "Save mapping scheme success", 'success');
    }

    function SaveMappingSchemeFailre(result) {
        window.Notify('<strong>Error.</strong>', "Can't save mapping scheme", 'danger');
    }

    function SaveMappingSchemeComplete(result) {
        $(".save-button").removeAttr('disabled');
        window.HideOwerlay();
    }
</script>
