﻿@model Onlinico.MiPoint.Web.Api.Models.Web.OfflineLocationModel
@{
    Layout = null;
}

<div class="modal-dialog" style="width: 650px">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add offline location</h4>
        </div>

        @using (Ajax.BeginForm("NewOfflineLocation", "Location", new AjaxOptions { OnSuccess = "AddOfflineLocationSuccess", OnBegin = "AddOfflineLocationBegin", OnFailure = "AddOfflineLocationFailre", OnComplete = "AddOfflineLocationComplete" }, new { id = "offline-location-form" }))
            {
            <div class="modal-body">
                <div>
                    <div>
                        <input name="model.MerchantId" type="hidden" value="@Model.MerchantId" />

                        <input name="model.Name" required type="text" class="inputs modal-dialog-input" maxlength="250" placeholder="Name" />

                        <input name="model.Owner" required type="text" class="inputs modal-dialog-input" maxlength="250" placeholder="Owner" />

                        <input name="model.PosType" required type="text" value="micros3700" class="inputs modal-dialog-input" maxlength="250" placeholder="PosType" />

                        <input name="model.Phone" type="tel" pattern="(\+?\d[- .]*){7,13}" title="International, national or local telephone number" class="inputs modal-dialog-input" placeholder="Phone number" />

                        <input name="model.Address" type="text" class="inputs modal-dialog-input" maxlength="250" placeholder="Address" />

                        <input name="model.AddressFull" type="text" class="inputs modal-dialog-input" maxlength="250" placeholder="Full Address" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-default button save-button" type="submit" value="Add" />
                <button type="button" class="btn btn-default button back-button" data-dismiss="modal">Cancel</button>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#offline-location-form").attr("action", $("#offline-location-form").attr("action") + "&timeOffset=" + new Date().getTimezoneOffset());
    });

    function AddOfflineLocationBegin() {
        $(".add-button").attr('disabled', 'disabled');
        window.ShowOwerlay();
    }

    function AddOfflineLocationSuccess(result) {
        $('#location-form-container').modal('hide');

        setTimeout(
            function () {
                window.ReloadLocations("Success.", "Add offline location.", 'success');
            }, 500);

    }

    function AddOfflineLocationFailre(result) {
        window.Notify('<strong>Error.</strong>', result.statusText, 'danger');
    }

    function AddOfflineLocationComplete(result) {
        $(".add-button").removeAttr('disabled');
        window.HideOwerlay();
    }
</script>