﻿@model Onlinico.MiPoint.Web.Api.Models.Web.LocationSettingsModel
@{
    Layout = null;
}
<div class="modal-dialog">
    <div id="basket" style="display: none"></div>
    @using (Ajax.BeginForm("Settings", new AjaxOptions { OnSuccess = "SaveSettingsSuccess", OnBegin = "SaveSettingsBegin", OnFailure = "SaveSettingsFailre", OnComplete = "SaveSettingsComplete", InsertionMode = InsertionMode.Replace, UpdateTargetId = "basket" }))
    {
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Location settings</h4>
            </div>
            <div class="modal-body">
                <div>
                    <input name="locationId" type="hidden" value="@ViewBag.LocationId" />
                    <input name="model.Id" type="hidden" value="@Model.Id"/>

                    <div>

                        @if (Model.TenderTypes != null)
                        {
                            for (var i = 0; i < Model.TenderTypes.Count; i++)
                            {
                                <div>
                                    <div>
                                        <label>Tender type for @Model.TenderTypes[i].Card card</label>
                                    </div>
                                    <div>
                                        <select name="model.TenderTypes[@i].Name" class="form-control tenderTypeSelect">

                                            @foreach (var avalibleValue in Model.TenderTypes[i].AvailableValues)
                                            {
                                                <option @(avalibleValue.Selected ? "selected=selected" : "") value="@avalibleValue.Text">@avalibleValue.Text</option>
                                            }
                                        </select>
                                        <input type="hidden" name="model.TenderTypes[@i].Id" value="@Model.TenderTypes[i].Id"/>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    @*<div>
                            <div>
                                <label>Tax rate</label>
                            </div>
                            <input name="model.TaxRate" required type="number" step="0.0001" min="0" max="100" value="@Model.TaxRate" class="inputs" maxlength="250" placeholder="Tax rate" />
                        </div>*@
                    @*<div>
                            <div>
                                <label>Tips separate by comma</label>
                            </div>
                            <input id="input-tips" name="model.Tips" required type="text" multiple value="@Model.Tips" class="inputs" maxlength="250" placeholder="Tips"/>
                        </div>*@

                    <div>
                        <div>
                            <label>Employees sync time</label>
                        </div>
                        <input id="sync-time-offset" type="hidden" name="model.TimeOffset"/>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input id="sync-timepicker" name="model.SyncTime" required type="text" onkeydown="return false" value="@Model.SyncTime" class="inputs" placeholder="Sync time"/>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div>
                        <div>
                            <label>Employees sync period</label>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input id="sync-period-timepicker" name="model.SyncPeriod" required type="text" onkeydown="return false" value="@Model.SyncPeriod" class="inputs" placeholder="Sync period"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Session timeout</label>
                        </div>
                        <input name="model.SessionTimeout" required type="number" min="0" max="9999" step="30" multiple value="@Model.SessionTimeout" class="inputs" maxlength="250" placeholder="Session timeout in seconds"/>
                    </div>
                    <div>
                        <div class="container" style="padding: 0; max-width: 500px; margin-left: 0;">
                            <div class="col-md-6" style="padding: 0">
                                <label>Open order limit</label>
                                <input name="model.OpenOrderLimit" required type="number" min="0" max="1000" value="@Model.OpenOrderLimit" class="inputs" maxlength="250" placeholder="Open order limit"/>
                            </div>
                            <div class="col-md-6" style="padding: 0">
                                <label>Closed order limit</label>
                                <input name="model.ClosedOrderLimit" required type="number" min="0" max="1000" value="@Model.ClosedOrderLimit" class="inputs" maxlength="250" placeholder="Closed order limit"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>After payment logout</label>
                        </div>
                        @Html.EditorFor(x => x.AfterPaymentLogOut, null, "model.AfterPaymentLogOut")
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="BeforeSubmitForm()" type="submit" class="btn btn-default button save-button">Save</button>
                <button type="button" class="btn btn-default button back-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    }

</div>

<script type="text/javascript">
    $(function () {

        $("#sync-time-offset").val(new Date().getTimezoneOffset());

        $("#sync-timepicker").datetimepicker({
            format: 'LT'
        });

        $("#sync-period-timepicker").datetimepicker({
            format: 'HH:mm',
            stepping: 30
        });

        $("#input-tips").keypress(function (e) {
            var currentValue = $(this).val();
            //If the value is empty, let user enter numerals.
            if (currentValue == "" && e.keyCode >= 48 && e.keyCode <= 57) {
                return true;
            }
            else {
                //If some value is there, get the last character.
                var lastChar = currentValue.substr(currentValue.length - 1);

                //If the last character is comma, let user enter numerals.
                if (lastChar == "," && e.keyCode >= 48 && e.keyCode <= 57) {
                    return true;
                }
                    //If the last character is comma, deny entering comma again.
                else if (lastChar == "," && e.keyCode == 44) {

                    return false;
                }
                    //If the control reaches here and as last character could only be numeral, let user enter only comma or numerals.
                else if (e.keyCode == 44 || (e.keyCode >= 48 && e.keyCode <= 57)) {
                    return true;
                }
                    // for everything else, return false.
                else {
                    return false;
                }
            }
        });

        $("#input-tips").keyup(function (e) {
            if ($(this).val() === ",") {
                $(this).val("");
            }
        });

    });

    function BeforeSubmitForm() {
        $('#tender-type-name').val($('#tenderType :selected').text());
    }

    function SaveSettingsBegin() {
        $(".save-button").attr('disabled', 'disabled');
        window.ShowOwerlay();
    }

    function SaveSettingsSuccess(result) {
        $('#location-form-container').modal('hide');

        setTimeout(
            function () {
                window.ReloadLocations("Success.", "Save settings success", 'success');
            }, 500);
    }



    function SaveSettingsFailre(result) {
        window.Notify('<strong>Error.</strong>', "Can't save settings", 'danger');
    }

    function SaveSettingsComplete(result) {
        $(".save-button").removeAttr('disabled');
        window.HideOwerlay();
    }
</script>


<style>
    .tenderTypeSelect {
        height: 50px;
        width: 100%;
        max-width: 500px;
        margin-bottom: 15px;
    }

    .save-button {
        color: #F9F9F9;
        background: #4CAF50;
    }

    .back-button {
        color: #F9F9F9;
    }


    .inputs {
        width: 100%;
        max-width: 500px;
        padding: 15px 25px;
        margin: 6px 0px 15px 0px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #9D9E9E;
        text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
        background: #FFF;
        border: 1px solid #FFF;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    }

        .inputs:focus {
            background: #FFFFF8;
            color: #414848;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
            outline: 0;
        }

        .inputs:hover {
            background: #FFFFF8;
            color: #414848;
        }
</style>
