﻿@model Onlinico.MiPoint.Web.Api.Models.Web.RegisterModel

@{
    Layout = null;
}

<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="register-user-form-container" role="dialog">
        <div class="modal-dialog">

            @using (Ajax.BeginForm("Register", "User", new AjaxOptions { OnBegin = "RegistrUserBegin", OnSuccess = "RegistrUserSuccess", OnFailure = "RegistrUserFailre", OnComplete = "RegistrUserComplete" }, new { id = "user-form", autocomplete = "off" }))
            {
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New user</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div>
                                <label>User name</label>
                            </div>
                            <input name="model.Name" value="" autocomplete="off" required type="text" class="inputs" maxlength="250" placeholder="User name" />
                        </div>
                        <div>
                            <div>
                                <label>User email</label>
                            </div>
                            <input id="unique-login" name="model.Login" autocomplete="off" required type="email" pattern="[a-z0-9._%+-]+@("@")[a-z0-9.-]+\.[a-z]{2,63}$" title="Invalid email format." class="inputs" maxlength="100" placeholder="User email" />
                        </div>
                        <div>
                            <div>
                                <label>User password</label>
                            </div>
                            <input id="password" name="model.Password" autocomplete="off" required type="password" pattern=".{6,}" title="min 6 characters" class="inputs" maxlength="250" placeholder="User password" />
                        </div>
                        <div>
                            <div>
                                <label>Merchants</label>
                            </div>
                            <select id="merchants-multiselect" name="model.SelectedMerchants" multiple="multiple">
                                @if (Model != null && Model.SelectedMerchantItems.Any())
                                {
                                    for (var i = 0; i < Model.SelectedMerchantItems.Count; i++)
                                    {
                                        <option name="model.SelectedMerchants[@i]" value="@Model.SelectedMerchantItems[i].Item.Id" @(Model.SelectedMerchantItems[i].Selected ? "selected" : "")>@Model.SelectedMerchantItems[i].Item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default button save-button">Save</button>
                        <button type="button" class="btn btn-default button back-button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {

        $('#merchants-multiselect').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true
        });

        $('#user-form').on('reset', function () {
            $('#merchants-multiselect option:selected').each(function () {
                $(this).prop('selected', false);
            });
            $('#merchants-multiselect').multiselect('refresh');
        });

        $('#unique-login').blur(function (parameters) {
            var login = $(this).val();
            if (login !== "") {
                CheckLoginToUnique(login);
            }
        });
        
    });

    function CheckLoginToUnique(login) {
        $.get("@Url.Action("IsUsernameUnique")" + "?login=" + encodeURIComponent(login),
            function (result) {
                if (!result) {
                    alert("You enter not unique login.");
                }
            });
    }

    function RegistrUserBegin() {
        window.ShowOwerlay();
    }

    function RegistrUserSuccess(result) {
        /*add new row*/
        var rowDraw = table.row.add($(result)[0]).draw();
        rowDraw.show().draw(false);
        var rowNode = rowDraw.node();
        var row = $(rowNode);
        row.addClass('active').siblings().removeClass('active');
        row.click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        });

        /*set form default values*/
        ResetUserForm();

        /*hide model*/
        $('#register-user-form-container').modal('hide');

        /*notify user*/
        window.Notify('<strong>Success.</strong>', "Save user success", 'success');
    }

    function RegistrUserFailre(result) {
        window.Notify('<strong>Error.</strong>', result.statusText, 'danger');
    }

    function RegistrUserComplete() {
        window.HideOwerlay();
        window.CheckEmpty();
    }

    function ResetUserForm() {
        document.getElementById("user-form").reset();
    }
</script>