﻿@model Onlinico.MiPoint.Web.Api.Models.Web.UserMerchantRelationsModel

@{
    Layout = null;
}


<div class="modal-dialog">

    @using (Ajax.BeginForm("UserRelations", "User", new AjaxOptions { OnBegin = "UpdateUserRelationsBegin", OnSuccess = "UpdateUserRelationsSuccess", OnFailure = "UpdateUserRelationsFailre", OnComplete = "UpdateUserRelationsComplete" }, new { id = "user-relations-form" }))
            {
                <input name="model.UserId" type="hidden" value="@ViewBag.UserId"/>
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">User relations</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div>
                                <label>Merchants</label>
                            </div>
                            <select id="user-merchants-multiselect" name="model.SelectedMerchants" multiple="multiple">
                                @if (Model != null && Model.SelectedMerchantItems.Any())
                                {
                                    for (var i = 0; i < Model.SelectedMerchantItems.Count; i++)
                                    {
                                        <option value="@Model.SelectedMerchantItems[i].Item.Id" @(Model.SelectedMerchantItems[i].Selected ? "selected" : "")>@Model.SelectedMerchantItems[i].Item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default button save-button">Save</button>
                        <button type="button" class="btn btn-default button back-button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
    }
</div>

<script type="text/javascript">
    $(function () {

        $('#user-merchants-multiselect').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true
        });

        $('#user-form').on('reset', function () {
            $('#user-merchants-multiselect option:selected').each(function () {
                $(this).prop('selected', false);
            });
            $('#user-merchants-multiselect').multiselect('refresh');
        });
    });

    function UpdateUserRelationsBegin() {
        window.ShowOwerlay();
    }

    function UpdateUserRelationsSuccess(result) {
        ResetUserRelationsForm();
        $('#user-relations-form-container').modal('hide');
        window.Notify('<strong>Success.</strong>', "Save user relations success", 'success');
    }

    function UpdateUserRelationsFailre(result) {
        window.Notify('<strong>Error.</strong>', "Can't save user relations", 'danger');
    }

    function UpdateUserRelationsComplete() {
        window.HideOwerlay();
        window.CheckEmpty();
    }

    function ResetUserRelationsForm() {
        document.getElementById("user-form").reset();
    }
</script>