﻿<div class="container">
    <header class="header">
        <h3>Users</h3>
        <div style="float: right">
            <a onclick="AddUser()" class="btn-add-user" title="Add new user." data-toggle="modal" data-target="#register-user-form-container"></a>
        </div>
    </header>
    <div>

        <div id="container-users" style="margin-top: 40px;">
            <div class="container">
                <table id="table-users" class="table table-striped table-hover table-miPoint">
                    <thead>
                        <tr>
                            <th style="min-width: 40px" class="no-sort"></th>
                            <th>User name</th>
                            <th>Login</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-users"></tbody>
                </table>
            </div>
        </div>


        <div id="container-empty-users" class="center empty">
            <H4>Users empty.</H4>
        </div>

    </div>
</div>
@{
    Html.RenderAction("Register", "User");
}
<div class="container">
    <div class="modal fade" id="user-relations-form-container" role="dialog">

    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var table;
        $(function () {
            table = $('#table-users').DataTable({
                "pageLength": 10,
                "order": [[1, "asc"]],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }],
                "fnDrawCallback": function (oSettings) {
                    var paginationButtons = $('.paginate_button');
                    if (paginationButtons.length > 3) {
                        paginationButtons.show();
                    } else {
                        paginationButtons.hide();
                    }
                }
            });

            window.ShowOwerlay();
            $.get('@Url.Action("UserRows")' + '?random=' + window.getRandomInt(0, 99999), function (result) {

                table.rows.add($(result).filter("tr")).draw();

                CheckEmpty();
            }).done(function () {

            }).fail(function () {
                window.Notify('<strong>Error.</strong>', "Can't download users. Please try again later.", 'danger');
            }).always(function () {
                //"finished"
                window.HideOwerlay();
            });




            $('#table-users > tbody > tr').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
            });

            window.bootstrapModalBindBackbutton($('#user-relations-form-container'));
            window.bootstrapModalBindBackbutton($('#register-user-form-container'));

        });


        function AddUser() {
            ResetUserForm();
        }

        function EditUserRelations(userId) {
            var formContainer = $('#user-relations-form-container');
            formContainer.load('@Url.Action("UserRelations")' + "?userId=" + userId);
            formContainer.modal('show');
        }

        function ConfirmRemoveUser(userId) {
            if (confirm("Are you sure want to remove user?")) {
                RemoveUser(userId);
            }
        }

        function RemoveUser(userId) {
            window.ShowOwerlay();
            $.ajax({
                url: "/User/RemoveUser?userId=" + encodeURIComponent(userId),
                type: 'DELETE',
                success: function (result) {
                    window.HideOwerlay();
                    if (result) {
                        table.row($('#' + userId)).remove().draw();
                        window.Notify('<strong>Success.</strong>', 'User remove success.', 'success');
                    } else {
                        window.Notify('<strong>Error.</strong>', "can't remove user.", 'danger');
                    }
                },
                complete: function () {
                    CheckEmpty();
                }
            });
        }

        function CheckEmpty() {
            if (table.data().count() > 0) {
                document.getElementById("container-users").style.display = "block";
                document.getElementById("container-empty-users").style.display = "none";
            } else {
                document.getElementById("container-users").style.display = "none";
                document.getElementById("container-empty-users").style.display = "block";
            }
        }
    </script>
}
<style>
    .center {
        margin: auto;
        width: 180px;
        align-content: center;
        padding: 10px;
    }

    .table-miPoint > tbody > tr.active > td > .edit-user-relations-icon, .table-miPoint > tbody > tr:hover > td > .edit-user-relations-icon {
        display: block;
    }

    .table-miPoint > tbody > tr:hover > td > .remove-user-icon, .table-miPoint > tbody > tr.active > td > .remove-user-icon {
        display: block;
    }

    .edit-user-relations-icon {
        background-image: url(/Content/Icons/link.png);
        margin-left: 12px;
    }

    .remove-user-icon {
        background-image: url(/Content/Icons/trash.png);
        margin-left: 12px;
    }

    .btn-add-user {
        float: right;
        margin-top: -35px;
        width: 35px;
        height: 35px;
        background-size: 35px 35px;
        background-image: url(/Content/Icons/add_user.png);
        cursor: pointer;
    }
</style>
