﻿@model Onlinico.MiPoint.Web.Api.Models.Web.UserModel

@{
    Layout = null;
}

@if (Model != null)
{
    <tr id="@Model.Id">
        <td>
            <div>
                <a onclick="EditUserRelations('@Model.Id')" class="table-icon edit-user-relations-icon" title="Edit user relations."></a>
                <a onclick="ConfirmRemoveUser('@Model.Id')" class="table-icon remove-user-icon" title="Remove user"></a>
            </div>
        </td>
        <td>
            <div class="table-three-col-content hideOverflow">
                @Model.FullName
            </div>
        </td>
        <td>
            <div class="table-three-col-content hideOverflow">
                @Model.Login
            </div>
        </td>
    </tr>
}