﻿@model Onlinico.MiPoint.Web.Api.Models.Web.UserProfileViewModel
@{
    ViewBag.Title = "User Profile";
}

<div>
    <h2>User Profile</h2>
    <div>
        @using (Html.BeginForm("UserProfile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" onclick="window.ShowOwerlay()" value="Save" class="button save-button" />
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {

    });
</script>