﻿@using Onlinico.MiPoint.Web.Api.Helpers.Html
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/basecss")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="signalR/hubs" type="text/javascript"></script>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="border-color: transparent; height: 61px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.MenuLink("MiPoint", "Index", "Merchant", new { area = "" }, new { @class = "navbar-brand logo-link" })
            </div>
            @if (User.Identity.IsAuthenticated)
            {

                <div class="navbar-collapse collapse">
                    @if (User.IsInRole("Admin"))
                    {
                        <ul class="nav navbar-nav navbar-left">
                            <li>@Html.MenuLink("Users", "Users", "User", new { area = "" }, new { @class = "header-link menu-link" })</li>
                            <li>@Html.MenuLink("Request history", "Index", "History", new { area = "" }, new { @class = "header-link menu-link", id = "history-link" })</li>
                            <li>@Html.MenuLink("Session Log", "SessionLogs", "SessionLog", new { area = "" }, new { @class = "header-link menu-link", id = "session-log-link" })</li>
                            <li>@Html.MenuLink("Doc", "Index", "Doc", new { area = "" }, new { @class = "header-link menu-link" })</li>
                        </ul>
                    }
                    @Html.Partial("_ProfilePartial")
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        <div id="body-container">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MiPoint @Html.ActionLink("Licence Agreement", "LicenceAgreement", "Account") and @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Account") </p>
        </footer>
    </div>

    @{ Html.RenderPartial("Owerlay"); }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        $(function () {
            $(".menu-link").click(function () {
                window.ShowOwerlay();
            });
        });


        function Notify(title, message, type, delay) {
            delay = typeof delay !== 'undefined' ? delay : 4000;

            $.notify({
                // options
                title: title,
                message: message
            }, {
                // settings
                type: type,
                allow_dismiss: false,
                offset: { x: 0, y: 65 },
                delay: delay,
                z_index: 10031,
            });
        }

        function bootstrapModalBindBackbutton(modelContainer) {
            modelContainer.on('show.bs.modal', function () {
                var modal = this;
                var hash = modal.id;
                window.location.hash = hash;
                window.onhashchange = function () {
                    if (!location.hash) {
                        $(modal).modal('hide');
                    }
                }
            });

            modelContainer.on('hidden.bs.modal', function () {
                var hash = this.id;
                history.pushState('', document.title, window.location.pathname + window.location.search);
            });
        }

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

    </script>

</body>

</html>
