﻿<div style="margin-top: -60px;">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav " style="float: right">

            <li class="dropdown">
                <a class="dropdown-toggle header-link" data-toggle="dropdown" href="#" style="padding-top: 22px;">Profile<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="menu-link"  href="@Url.Action("UserProfile", "Manage")">Profile</a></li>
                    <li><a class="menu-link" href="@Url.Action("ChangePassword", "Manage")">Change password</a></li>
                    @*<li><a class="menu-link" href="@Url.Action("LicenceAgreement", "Account")">Licence Agreement</a></li>
                    <li><a class="menu-link" href="@Url.Action("PrivacyPolicy", "Account")">Privacy Policy</a></li>*@
                    <li><a class="menu-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>

            @*<li><a class="menu-link" style="font-size: 17px" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        </ul>
    }
</div>
