﻿@{
    Layout = null;
}

<div id="overlay">
    <div class="outer">
        <div class="middle">
            <div class="inner">

                <div class="center" style="width: 0px;">
                    <img style="width: 250px; margin-left: -125px;" src="/Content/gifs/progress.gif" />
                </div>

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    function ShowOwerlay() {
        document.getElementById('overlay').style.display = 'block';

    }

    function HideOwerlay() {
        document.getElementById('overlay').style.display = 'none';
    }
</script>
<style>
    #overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 99999;
        opacity: 0.2;
        display: none;
        background-color: black;
    }

    .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .middle {
        display: table-cell;
        vertical-align: middle;
    }

    .inner {
        margin-left: auto;
        margin-right: auto;
        width: /*whatever width you want*/;
    }
</style>
