﻿body {
    padding-top: 61px;
    padding-bottom: 20px;
}

    body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
        margin-right: 0;
    }

        body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom
        /* Set padding to keep content from hitting the edges */
        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.inputs {
    width: 100%;
    max-width: 100%;
    padding: 15px 25px;
    margin: 6px 0px 15px 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

    .inputs:focus {
        background: #FFFFF8;
        color: #414848;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
        outline: 0;
    }

    .inputs:hover {
        background: #FFFFF8;
        color: #000000;
    }

.modal-dialog-input {
    max-width: 100%;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: small;
}


.logo-link {
    font-size: 25px;
    margin-top: 5px;
}

.menu-link {
    margin-top: 7px;
}

.header-link {
    font-size: 18px;
}

.center {
    margin: auto;
    position: relative;
}

.hideOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*menu*/
.selected {
    color: #ffffff !important;
    ;
}

/*pagination*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #D32F2F;
    border-color: #D32F2F;
}

/*tables*/

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before {
    position: initial;
    float: left;
    margin-right: 5px;
}

.table-miPoint > tbody > tr > td {
    padding: 10px;
}

.table-miPoint > tbody > tr.active > td {
    background-color: #D32F2F;
    color: #ffffff;
}


.table-miPoint > tbody > tr:hover > td {
    background-color: #D32F2F;
    color: #ffffff;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 300px) {
    .table-three-col-content {
        width: 60px;
    }

    .table-six-col-content {
        width: 30px;
    }
}


@media (min-width: 400px) {
    .table-three-col-content {
        width: 70px;
    }

    .table-six-col-content {
        width: 35px;
    }
}

@media (min-width: 500px) {
    .table-three-col-content {
        width: 100px;
    }

    .table-six-col-content {
        width: 60px;
    }
}

@media (min-width: 600px) {
    .table-three-col-content {
        width: 150px;
    }

    .table-six-col-content {
        width: 70px;
    }
}

@media (min-width: 700px) {
    .table-three-col-content {
        width: 200px;
    }

    .table-six-col-content {
        width: 80px;
    }
}

@media (min-width: 800px) {
    .table-three-col-content {
        width: 100%;
    }

    .table-six-col-content {
        width: 100%;
    }
}

.table > tbody > tr.active > td > div a,
 .table > tbody > tr:hover > td > div a,
 .table > tbody > tr:hover > td > div button,
 .table > tbody > tr.active > td > div button {
    display: block;
}

.table-icon {
    display: none;
    width: 13px;
    background-size: 13px 13px;
    height: 13px;
    cursor: pointer;
    text-indent: -9999px;
    position: relative;
    float: left;
    margin-left: 7px;
    margin-top: 4px;
}

@media (min-width: 600px) {
    .table-icon {
        width: 18px;
        background-size: 18px 18px;
        height: 18px;
        margin-left: 7px;
        margin-top: 0;
    }
}

@media (min-width: 800px) {
    .table-icon {
        width: 20px;
        background-size: 20px 20px;
        height: 20px;
        margin-left: 12px;
        margin-top: 0;
    }
}



/*buttons*/

.button {
    font-size: 15px;
    font-weight: normal;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    width: 70px;
    height: 46px;
    margin-right: 8px;
}

.save-button {
    color: #F9F9F9;
    background: #4CAF50;
}

    .save-button:hover {
        color: #F9F9F9;
        background: #008000;
    }

.back-button {
    color: #F9F9F9;
    background-color: #d6d6c2;
}

    .back-button:hover {
        color: #F9F9F9;
        background-color: #c2c2a3;
    }

.action-btn {
    float: right;
    margin-top: -35px;
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
    cursor: pointer;
}

.action-btn-add {
    background-image: url(../Content/Icons/add.png);
}

.action-btn-download {
    background-image: url(../Content/Icons/download.png);
}

.action-btn-payments {
    background-image: url(../Content/Icons/Payment.png);
}

/*header*/

.header {
    margin: 15px 0 15px 0;
}

    .header h3 {
        color: #2c3e50;
    }

/*containers*/

.form-container {
    padding: 15px 20px 15px 20px;
}


.navbar, .navbar-collapse {
    background: #D32F2F;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #080808;
}

.modal-header {
    background-color: #D32F2F;
    color: white;
}

.dropdown-menu > li > a:hover {
    background-color: #080808 !important;
}

.form-control {
    height: 45px;
}

.dropdown .menu-link {
    color: #080808 !important;
}

.menu-link:hover {
    color: white !important;
}

.navbar-collapse {
    max-height: 410px;
}


/*bootstrap multiselect*/ 

.btn-group, .btn-group button {
    width: 100%;
    max-width: 100%;
    height: 50px;
}

.btn-group ul {
    width: 100%;
}


.glyphicon-search:before {
    content: "";
    display: block;
    background: url("/Content/Icons/search.png") no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    float: left;
    cursor: pointer;
}

.glyphicon-remove-circle:before {
    content: "";
    display: block;
    background: url("/Content/Icons/black.png") no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    float: left;
    cursor: pointer;
}

.multiselect-search {
    width: 100%;
    height: 50px;
    max-width: 500px;
}

.multiselect-clear-filter {
    border-left: 0 important;
    border-left-width: 0 important;
    height: 52px important;
    margin-top: -1px important;
}

.hidden-item {
    display: none !important;
}

/*Location*/

.location-indicator {
    float: left; 
    margin-right: 6px; 
    margin-top: 2px; 
    width: 15px; 
    height: 15px; 
    border-radius: 25px;
    position: absolute;
}

.location-indicator-online {
    z-index: 2;
    background-color: #26b899;
}

.location-indicator-degraded {
    z-index: 1;
    background-color: #f2b42a;
}

.location-indicator-offline {
    z-index: 0;
    background-color: #e74c3c;
}
